{% extends 'base.html' %}

    {% block title %}
        <title>search</title>
    {% endblock %}

    {% block content %}
    <div class = "waper">
        {% if error %}
            <p style="color: red;">Plz Input search key:</p>
        {% endif %}
        <div class = "form-search">
            <form action="" method="get" class = "search-form">
                <input type="text" name="q" class="input-medium search-query">
                <input type="submit" value="search" class="btn">
            </form>
        </div>

        {% if record_list %}
            <div id = "record_list">
                <table class = "table  table-bordered table-hover table-responsive">
                <caption>这是一个测试</caption> 
                	<thead>
                    <tr class="success">
                    	<th>ID</th>
                    	<th>IMEI</th>
                    	<th>CREATED_DATE</th>
                    	<th>IP</th>
                    	<th>RESOLUTION</th>
                        <th>CHANNEL</th>
                        <th>DEVICE</th>
                    </tr>
                    </thead>
                    <tbody>  
                    {% for record in record_list.object_list %}
                        <tr>
                        	<td>{{ record.id }}</td>
                        	<td>{{ record.imei }}</td>
                        	<td>{{ record.created_date }}</td>
                        	<td>{{ record.ip }}</td>
                        	<td>{{ record.resolution_name }}</td>
                            <td>{{ record.client_channel_name }}</td>
                            <td>{{ record.device }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                   </table>
                <div class="pagination">
                	<ul>
                        {% if record_list.has_previous %}
                            <li><a href="?page={{ record_list.previous_page_number }}">Pre</a></li>
                        {% endif %}
                       	
						<li class="disabled">
							<a  href="#"><span class="label label-success">{{ record_list.number }}</span><span class="label">{{ record_list.paginator.num_pages }}</span></a>
						</li>
						{% if record_list.has_next %}
						         <li><a href="?page={{ record_list.next_page_number }}">Next</a></li>
						{% endif %}
                	</ul>
                </div>
            </div>
        {% else %}
            <p> No record¡£ </p>
        {% endif %}
        <div class = "footer">
        </div>
    </div>
{% endblock %}